extends ../layouts/main
include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/footer/footer

block content
  .container
    +header()
    .content-container
      +hero()
      +footer()
