mixin header()
  +b.header
    +b.logo chulakov
      +e.SPAN ru
    nav( role="navigation").navbar
      a(href="#") Первая ссылка
      a(href="#").active Вторая ссылка (активная)
      a(href="#") Третья ссылка
      a(href="#") Личный кабинет
      a(href="#") Выйти
