mixin header()
  +b.header
    +b.logo chulakov ru
    nav( role="navigation").navbar
      ul.navigation
        li Первая ссылка
        li Вторая ссылка (активная)
        li Третья ссылка
        li Личный кабинет
        li Выйти
