mixin header()
  +b.header
    +b.logo chulakov
      +e.SPAN ru
    nav( role="navigation").navbar
      ul.navigation
        li Первая ссылка
        li.active Вторая ссылка (активная)
        li Третья ссылка
        li Личный кабинет
        li Выйти
