// Header starts

.header
  width 318px
  background-color #1f2229
  max-height 538px
  +below(980px)
    width 100%

.logo
  font-family Open Sans, sans-serif
  margin 66px 0 61px 30px
  padding 2px 0 0 8px
  letter-spacing 2.5px
  text-transform uppercase
  background-color white
  height 36px
  width 141px
  font-size 20px
  cursor pointer
  span
    padding-left 15px
    color white
  +below(980px)
    margin 40px 0 36px 30px
  +below(400px)
    margin-left 10px

.navbar
  display flex
  flex-direction column

  a
    color white
    width 100%
    border-top 1px solid #2a2d37
    text-decoration none
    font-size 18px
    font-weight 700
    font-family Open Sans, sans-serif
    padding 23px 0 24px 28px
    &:last-child
      background-color #191c24
      color #808592
    &:nth-last-child(2)
      background-color #191c24
      color #808592
    &.active
      background-color #2a2d37
      color #808592
    +below(980px)
      padding 12px 0 12px 28px
    +below(400px)
      padding-left 10px
    &:hover
      background-color #2a2d37
      color #808592

// Header ends

