.footer
  background-color #373c43

  p
    padding 10px 40px 0 30px
    letter-spacing -0.03px
    +below(400px)
      padding 10px 10px 0 10px
    &:first-child
      padding-top 23px
    &:last-child
      padding-bottom 30px