*,
*::before,
*::after
  box-sizing border-box

@-ms-viewport
  width device-width

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section
  display block

body
  font-family Arial, sans-serif
  font-weight 400
  margin 0
  line-height 1.5
  text-align left
  background-color #07080c


h1, h2, h3, h4, h5, h6
  margin 0

