body

.container
  display flex
  flex-wrap wrap
  margin 86px auto
  max-width 960px
  +below(980px)
    margin 0 auto

.content-container
  width 639px
  margin-left 2px
  +below(980px)
    width 100%
    margin 0

h1
  font-size 35px
  font-family Open Sans, sans-serif
  +below(450px)
    font-size 25px

h2
  font-size 22px
  color #383d43
  font-family Open Sans, sans-serif
  font-weight 700
  +below(450px)
    font-size 20px

h3
  font-size 13px
  font-weight 400
  letter-spacing .45px
  +below(450px)
    font-size 12px
h4
  color #8494ab
  font-size 16px
  font-weight 400
  +below(450px)
    font-size 14px

p
  color #89909d
  font-size 12px
  font-weight 400
  margin 0
